server:
  port: 8090

spring:
  application:
    name: functionService
  cloud:
    function:
      definition: orderLineTotal

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

