server:
  port: 8085

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      default-filters:
        - PreserveHostHeader
      routes:
        - id: author-lookup
          uri: lb://author-lookup-service
          predicates:
            - Path=/api/author-lookup/**
          filters:
            - StripPrefix=2
            - PrefixPath=/api
        - id: function-service
          uri: lb://functionService
          predicates:
            - Path=/api/function-service/**
          filters:
            - StripPrefix=2
            - PrefixPath=/orderLineTotal

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

